@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    margin: 0 auto;
    cursor: default !important;
}

#sections {
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 40px;
    z-index: 90;
}

.categoryLegend {
    font-family: "Domine";
}

.step {
    height: 100vh;
    font-family: "Domine";
    font-weight: 400;
    margin: 0 auto;
    line-height: 1.4em;

}

h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

h1 {
    font-size: 35px;
}

strong {
    color: rgb(245, 155, 155);
}

#graphic {
    margin: 0 auto;

}

#vis-container {
    margin: 0 auto;
    width: 75%

}

#vis {
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 75%;
    
}

.tick line {
    stroke: 'red'
}

.intro h1{
    margin: 0 auto !important;
    width: 80%;
    text-align: center !important;
}

.box {
    background-color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(151, 151, 151, 0.25);
    width: 50%;
    margin: 0 auto;
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-family: "Merriweather";
    font-size: 1.1em;
    max-width: 100%;
    z-index: 100;
}

svg {
    display: inline-block;
    margin: 0 auto;
}

svg circle:hover{
    cursor: pointer;
}

.swatch {
    fill: #939393;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}



a, a:hover, a:visited {
    color: #06bc00;
}
#map {
    top:0; 
    height: 100vh;
    width:100vw;
    position: fixed;
    z-index: -5;
}
#header {
    margin: 3vh auto;
    width: 90vw;
    padding: 2vh;
    text-align: center;
}
#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
#features {
    padding-top: 5vh;
    padding-bottom: 10vh;
    z-index: 100;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.light {
    background: #FFFEFE;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
}


.dark {
    color: #fafafa;
    background-color: #444;
}
.step1 {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}
.step1.active {
    opacity: 0.9;
}

.step1 div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
    opacity: 1 !important;
    margin: auto;

}

h3 {
    font-family: Bitter, OpenSans;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 30px;
}
p {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 30px;
}

.mapboxgl-ctrl-minimap,  .mapboxgl-mapt {
    z-index: 1;
    margin: 0 auto;
    width: 350px;
    position: relative;
    border: 1px solid hsla(0, 0%, 5%, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(151, 151, 151, 0.25) !important ;    
    border-radius: 100em !important;
    font-size: 0.9em !important;
    font-family: 'Open Sans', sans-serif !important;

}
@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}