*{margin: 0; padding: 0;}
.squared-geog {
    background-color: #FDC26D
  }
  .squared-geog.small {
    background-color: red;
  }
  .squared-geog.medium {
    background-color: green;
  }
  .squared-geog.large {
    background-color: blue;
  }