body {
  margin: 0;
  padding: 0;
}
.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

@font-face {
  font-family: "capitol";
  src: url("capitol.ttf");
}

.arrow {
  width: 40px;
  left:49%;
  height: 40px;
  position: absolute;
  animation-name: arrowAni;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 3;
  margin: auto;
}

@keyframes arrowAni {
  0%   {top:720px;}
  25%  {top:740px;}
  50%  {top:720px;}
  75%  {top:740px;}
  100% {top:720px;}
}

/* TITLE COVER */
h1 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 50px;
  right: 0;
  margin: auto;
  z-index: 3;
  font-family: "capitol";
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 190px;
/* identical to box height */
  letter-spacing: 0.45em;
  color: #FFFFFF;
  align-items: center;
}

/* ARROWS TEXTS */
h3 {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 650px;
	margin: auto;
	width: 350px;

	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	z-index: 3;
	/* or 156% */

	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #FFFFFF;
}


/*.catAni h1{
  top:400px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*white-space: nowrap;  Keeps the content on a single line */
  /*margin: 0 auto;  Gives that scrolling effect as the typing happens */
 /* animation: 
    typing 3.5s steps(40, end);
}*/

/* The typing effect */
/*@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}*/